{% include '@RichIdTermsModule/_styles.html.twig' %}
{% include '@RichIdTermsModule/admin/signature-list/_partial/_styles.html.twig' %}

<div class="terms-module-style">
    {% include '@RichIdTermsModule/admin/signature-list/_partial/_header.html.twig' %}

    <div class="terms-module-admin-body-container">
        {% include '@RichIdTermsModule/admin/signature-list/_partial/_body.html.twig' %}
    </div>
</div>
