<div class="terms-module-admin-body">
    {% for terms in termsList %}
        {% include '@RichIdTermsModule/admin/list/_partial/_terms-card.html.twig' with {'terms' : terms} %}
    {% endfor %}
</div>

{% include '@RichIdTermsModule/_load-picto.html.twig' %}
