{% include '@RichIdTermsModule/_styles.html.twig' %}
{% include '@RichIdTermsModule/terms/_partial/_styles.html.twig' %}
{% include '@RichIdTermsModule/_loader.html.twig' %}

<div class="terms-module-style">
    {% include '@RichIdTermsModule/terms/_partial/_header.html.twig' %}

    <div class="terms-module-sign-body">
        <div class="terms-module-container">
            {% include '@RichIdTermsModule/terms/_partial/_body.html.twig' %}
        </div>
    </div>
</div>
