{% include '@RichIdTermsModule/_styles.html.twig' %}
{% include '@RichIdTermsModule/admin/edit/_partial/_styles.html.twig' %}

<div class="terms-module-style">
    <div class="terms-module-admin-header">
        {{ 'terms_module.admin.edit.title'|trans({}, 'terms_module') }}
    </div>

    <div class="terms-module-admin-body-container">
        <div class="terms-module-admin-body">
        </div>
    </div>
</div>
